@{
    ViewData["Title"] = "Home Page";
}

<div id="total" class="card-2">
	<span class="total-text done"></span>
	<span class="total-text in-progress"></span>
</div>
<div id="epics" class="card-1"></div>
<div id="burndown" class="card-1"></div>
