@{
    ViewData["Title"] = "Home Page";
}

<div id="burndown"></div>
<div id="total">
	<span class="total-text done"></span>
	<span class="total-text in-progress"></span>
</div>
<div id="epics"></div>